---
// import Features2 from '~/components/widgets/Features2.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Sobre nós"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Democratizamos o acesso de IA<br />
      <span class="text-accent dark:text-white highlight"> para todos</span>
    </Fragment>

    <Fragment slot="subtitle">
      Implementar IA no seu sistema não é uma tarefa fácil. Para isso criamos uma plataforma que facilita a integração de 
      modelos de IA em qualquer aplicação. Todos devem ter uma fácil acesso a era da IA.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  /> -->

 

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Nossos Valores"
    subtitle="Nós acreditamos em unir os avanços da academia às aplicações que servem pessoas no seu dia-a-dia."
    items={[
      {
        title: 'Focamos no usuário',
        description:
          'Nossas soluções são extremamente focadas em resolver problemas reais de maneira simples e eficiente, sempre focando na experiência do usuário.',
      },
      {
        title: 'Melhorias Constantes',
        description:
          'Tecnologia está sempre em evolução e nós também. Tudo que é feito com a infraestrutura da NP Labs está sempre atualizada com os mais novos avanços.',
      },
      {
        title: 'Suporte 24/7',
        description:
          'Nossa equipe está sempre disponível para resolver qualquer problema e evoluir todas as capacidades. Enquanto somos uma startup, nossa velocidade é máxima e sempre seremos nós atendendo o telefone.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->