---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import SystemCapabilities from '~/components/widgets/SystemCapabilities.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import MainFeatures from '~/components/widgets/MainFeatures.astro';
import VectorEffect from '~/components/widgets/VectorEffect.astro';
import TitleRow from '~/components/widgets/TitleRow.astro';

// Importando componentes
import DataIntegration from '~/components/widgets/DataIntegration.astro';
import SecurityFeatures from '~/components/widgets/SecurityFeatures.astro';
import ApiFeatures from '~/components/widgets/ApiFeatures.astro';
import CompatibleLogos from '~/components/widgets/CompatibleLogos.astro';
import MockMatrix from '~/components/widgets/MockMatrix.astro';
import AiIntegrations from '~/components/widgets/AiIntegrations.astro';

const metadata = {
  title: 'NP Labs - Soluções de IA Empresarial',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'hero',
        text: 'FALE COM O CEO',
        href: 'https://calendar.app.google/riPr32fUACSJAWXT7',
        target: '_blank',
        icon: 'tabler:calendar',
      },
      { 
        variant: 'hero',
        text: 'SAIBA MAIS', 
        href: '#features' 
      },
    ]}
    image={{ src: '~/assets/images/hero_image.jpg', alt: 'NP Labs dashboard' }}
  >
    <Fragment slot="title">
      CAPACIDADE DE <span class="text-white">INTEGRAR INTELIGÊNCIA ARTIFICIAL</span> 
      <span class="text-gray-500">NAS OPERAÇÕES DA SUA EMPRESA.</span>
    </Fragment>

    <Fragment slot="subtitle">
      A NP Labs oferece integração personalizada de IA para qualquer sistema corporativo. Soluções personalizadas, seguras e eficientes que transformam seu fluxo de trabalho e aumentam a produtividade de forma mensurável.
    </Fragment>
  </Hero>

  <SystemCapabilities />
  
  <VectorEffect />
  <AiIntegrations />
  <TitleRow
    leftTitle="VANTAGENS TECNOLÓGICAS E ADAPTABILIDADE"
    leftSubtitle=""
    rightText="A NP Labs utiliza experiência comprovada no desenvolvimento de sistemas inovadores usando as mais avançadas técnicas de design e integração de IA para resolver problemas reais de negócio."
  />

  <MainFeatures />


  <CompatibleLogos />
  
  <DataIntegration />
  
  <SecurityFeatures />
  
  <ApiFeatures />
  
  <MockMatrix
    title="Matriz de Análise Interativa"
    subtitle="Selecione um caso de uso para explorar diferentes documentos e insights"
  />
  
  <CallToAction
    title="Pronto para transformar sua empresa com IA?"
    subtitle="A NP Labs oferece a tecnologia mais avançada para potencializar seu negócio usando inteligência artificial de forma segura, escalável e com retorno comprovado."
    actions={[
      {
        variant: 'hero',
        text: 'SOLICITE UMA DEMO',
        href: '#',
        icon: 'tabler:rocket',
      },
    ]}
  />
</Layout>
