---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Achievements from '~/components/widgets/Achievements.astro';
import MainFeatures from '~/components/widgets/MainFeatures.astro';
import VectorEffect from '~/components/widgets/VectorEffect.astro';
import TitleRow from '~/components/widgets/TitleRow.astro';

const metadata = {
  title: 'NP Labs',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'hero',
        text: 'TALK TO CEO',
        href: 'https://calendar.app.google/riPr32fUACSJAWXT7',
        target: '_blank',
        icon: 'tabler:calendar',
      },
      { 
        variant: 'hero',
        text: 'LEARN MORE', 
        href: '#features' 
      },
    ]}
    image={{ src: '~/assets/images/hero_image.jpg', alt: 'NP Labs dashboard' }}
  >
    <Fragment slot="title">
      ABILITY TO <span class="text-white">INTEGRATE ARTIFICIAL INTELLIGENCE</span> 
      <span class="text-gray-500">INTO YOUR BUSINESS OPERATIONS.</span>
    </Fragment>

    <Fragment slot="subtitle">
      NP Labs offers personalized AI integration for any corporate system. Custom, secure, and efficient solutions that transform your workflow and enhance productivity.
    </Fragment>
  </Hero>

  <VectorEffect />
  <TitleRow
    leftTitle="TECHNOLOGICAL ADVANTAGES AND ADAPTABILITY"
    leftSubtitle=""
    rightText="RAIDER X® draws on Lockheed Martin's broad expertise in developing innovative systems using the latest digital design and manufacturing techniques."
  />

  <Achievements />
  <MainFeatures />
  <Features />
  <Content />
  <FAQs />
  <CallToAction />
</Layout>
