---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'NP Labs',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Agendar um Chamada',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Saiba mais', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero_image.jpg', alt: 'NP Labs dashboard' }}
  >
    <Fragment slot="title">
      Integre  a Inteligência artificial no seu negócio com 
      <span class="text-accent dark:text-white highlight"> NP Labs</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">NP Labs</span> transporta a sua equipe para a era da IA.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">NP Labs</span>
      oferece integração personalizada de IA para qualquer sistema corporativo. Soluções sob medida, seguras e eficientes.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  {/* <Note /> */} 

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Nossas Soluções"
    title="O que oferecemos na NP Labs"
    subtitle="Descubra como nossa abordagem personalizada de IA pode transformar o seu negócio."
    items={[
      {
        title: 'Integração personalizada com IA',
        description:
          'Integramos IA aos sistemas existentes da sua empresa, utilizando LLMs, RAGs e diversas opções de armazenamento.',
        icon: 'tabler:plug',
      },
      {
        title: 'Busca semântica de documentos',
        description:
          'Realize buscas inteligentes em seus documentos, encontrando informações rapidamente através da busca semântica.',
        icon: 'tabler:file-search',
      },
      {
        title: 'Chatbots inteligentes',
        description:
          'Desenvolvemos chatbots personalizados para melhorar a interação e atendimento ao cliente.',
        icon: 'tabler:robot',
      },
      {
        title: 'Pipeline completo de processamento',
        description:
          'Processamento completo de qualquer tipo de documento, desde PDFs até planilhas do Excel.',
        icon: 'tabler:chart-grid-dots',
      },
      {
        title: 'Segurança e proteção',
        description:
          "Garantimos que suas informações estejam sempre seguras e protegidas.",
        icon: 'tabler:shield-half',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Sobre a NP Labs"
    title="Nossa abordagem inovadora"
    items={[
      {
        title: 'IA sob medida para seu negócio',
        description:
          'Oferecemos soluções de IA personalizadas, desenvolvidas especificamente para atender às necessidades do seu negócio.',
      },
      {
        title: 'Tecnologia de ponta',
        description:
          'Utilizamos as tecnologias mais recentes para garantir alta performance e segurança.',
      },
      {
        title: 'Compatibilidade e eficiência',
        description:
          'Integramos nossa solução com seu ambiente tecnológico existente, sem comprometer a eficiência.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Aplicável em diversas indústrias.</h3>
      Ganhe vantagem competitiva aplicando os melhores processos com IA.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Como trabalhamos na NP Labs"
    items={[
      {
        title: 'Passo 1: <span class="font-medium">Agendar uma Chamada</span>',
        description:
          "Entre em contato conosco para agendar uma chamada e discutir suas necessidades e expectativas.",
        icon: 'tabler:calendar-month',
      },
      {
        title: 'Passo 2: <span class="font-medium">Planejamento</span>',
        description:
          "Planejamos a integração de IA com base nas suas necessidades específicas, definindo metas e métricas de sucesso.",
        icon: 'tabler:replace',
      },
      {
        title: 'Passo 3: <span class="font-medium">Implementação</span>',
        description:
          'Implementamos a solução personalizada de IA, garantindo que todos os processos estejam funcionando perfeitamente.',
        icon: 'tabler:code',
      },
      {
        title: 'Pronto!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
  title="Nossos Principais Serviços"
  subtitle="Explore as soluções que oferecemos para impulsionar a transformação digital do seu negócio"
  tagline="Serviços"
  items={[
    {
      title: 'Desenvolvimento de Software Personalizado',
      description:
        "Criamos soluções de software sob medida para atender às necessidades específicas do seu negócio, garantindo escalabilidade e eficiência.",
      icon: 'flat-color-icons:template',
    },
    {
      title: 'Consultoria em Transformação Digital',
      description:
        "Ajudamos sua empresa a navegar na transformação digital, implementando tecnologias que otimizam processos e aumentam a produtividade.",
      icon: 'flat-color-icons:gallery',
    },
    {
      title: 'Integração de Sistemas',
      description:
        "Unificamos sistemas diversos para operar em sincronia, melhorando a comunicação e o fluxo de trabalho dentro da sua organização.",
      icon: 'flat-color-icons:approval',
    },
    {
      title: 'Desenvolvimento de Aplicações Mobile',
      description:
        "Criamos aplicativos móveis intuitivos e robustos que proporcionam uma experiência superior para os seus usuários, onde quer que estejam.",
      icon: 'flat-color-icons:document',
    },
    {
      title: 'Análise e Visualização de Dados',
      description:
        "Transformamos seus dados em insights acionáveis com dashboards interativos e relatórios que impulsionam decisões estratégicas.",
      icon: 'flat-color-icons:advertising',
    },
    {
      title: 'Otimização de Performance de Aplicações',
      description:
        "Identificamos e corrigimos gargalos para garantir que suas aplicações rodem com a máxima eficiência e rapidez.",
      icon: 'flat-color-icons:currency-exchange',
    },
    {
      title: 'Segurança da Informação',
      description:
        "Implementamos políticas e soluções de segurança robustas para proteger seus dados e manter a conformidade com regulamentos.",
      icon: 'flat-color-icons:voice-presentation',
    },
    {
      title: 'Suporte e Manutenção de Sistemas',
      description:
        "Oferecemos suporte contínuo e serviços de manutenção para garantir que suas soluções de software estejam sempre atualizadas e funcionando perfeitamente.",
      icon: 'flat-color-icons:business-contact',
    },
    {
      title: 'Gerenciamento de Projetos Ágeis',
      description:
        "Utilizamos metodologias ágeis para gerenciar projetos de desenvolvimento, assegurando entregas rápidas e adaptáveis às mudanças.",
      icon: 'flat-color-icons:database',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Como nossos serviços de consultoria ajudam empresas a crescer de forma sustentável?"
    subtitle="Oferecemos consultoria em transformação digital, otimização de processos, e estratégias de crescimento baseadas em dados. Trabalhamos com nossos clientes para identificar áreas de melhoria e implementar soluções que resultam em aumentos de eficiência e redução de custos, promovendo um crescimento sustentável."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Quais são os benefícios do desenvolvimento de software personalizado para o meu negócio?',
        description:
          "Um software personalizado é construído especificamente para atender às necessidades únicas do seu negócio, resultando em processos mais eficientes, melhor experiência do cliente, e uma vantagem competitiva significativa. Nossos clientes frequentemente relatam reduções de custo operacional e melhorias na satisfação do cliente após implementar nossas soluções.",
      },
      {
        title: 'Como funciona o processo para iniciar um projeto de desenvolvimento com nossa equipe?',
        description:
          'Começamos com uma consulta gratuita para entender suas necessidades e objetivos. Depois, elaboramos uma proposta detalhada e personalizada. Uma vez aprovado, iniciamos o desenvolvimento usando metodologias ágeis, garantindo entregas rápidas e contínuas, ajustadas conforme o feedback do cliente.',
      },
      {
        title: 'Quais tecnologias utilizamos e como elas beneficiam os nossos projetos?',
        description:
          "Escolhemos a tecnologia com base nas necessidades do projeto para garantir soluções seguras, escaláveis e de alta performance, adaptadas ao seu crescimento.",
      },
      {
        title: "Como asseguramos a segurança e conformidade dos nossos desenvolvimentos?",
        description:
          "Adotamos práticas rigorosas de segurança e seguimos padrões de conformidade como GDPR e LGPD. Além disso, realizamos auditorias regulares e testes de segurança para garantir que nossos softwares estejam protegidos contra ameaças e em conformidade com as regulamentações vigentes.",
      },
      
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Conecte-se com a NP Labs para transformar seu negócio com IA
    </Fragment>

    <Fragment slot="subtitle">
      Não perca a oportunidade de evoluir seu negócio com as soluções inovadoras de IA da NP Labs.
    </Fragment>
  </CallToAction>
</Layout>
