<div class="flex items-end">
  {/* Square */}
  <div class="relative flex justify-end items-end w-12 h-12 bg-white">
    <span class="mr-1 mb-1 text-black text-xl font-bold bg-transparent">NP</span>
  </div>
  <div class="ml-1 mb-1">
    <span class="font-bold text-xl text-white">Labs</span>
  </div>
</div>

