---
import Item from '~/components/blog/ListItem.astro';

export interface Props {
  posts: Array<{
    permalink: string;
    title: string;
    image?: string;
    publishDate: Date;
    excerpt?: string;
    description?: string;
    author?: string;
    category?: { title?: string; slug?: string };
    tags?: Array<{ title: string; slug: string }>;
  }>;
}

const { posts } = Astro.props;
---

<div class="space-y-8">
  {
    posts.map((post) => (
      <Item post={post} />
    ))
  }
</div>
