---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
// import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Serviços de IA para Suporte',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          variant: 'secondary',
          text: 'Login',
          href: '#',
        },
        {
          variant: 'primary',
          text: 'Sign Up',
          href: '#',
        },
      ]}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Suporte com IA"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Comece Agora', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Saiba mais', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'IA Suporte Hero Image',
    }}
  >
    <Fragment slot="title">
      Transforme o suporte ao cliente com <br /> <span class="text-accent dark:text-white highlight">IA</span>
      operando 24/7<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Potencialize suas operações de suporte com <span class="font-semibold">inteligência artificial</span>, 
        trazendo eficiência e personalização no atendimento.
      </span>
      Gere insights valiosos a partir dos dados coletados e melhore a experiência do cliente continuamente.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Por que escolher nossos Serviços de IA?"
    subtitle="Descubra como nossas soluções de IA transformam o suporte ao cliente em uma vantagem competitiva."
    columns={2}
    items={[
      {
        title: 'Automatização Inteligente de Respostas',
        description:
          'Nossos modelos de IA respondem instantaneamente às dúvidas comuns dos clientes, liberando sua equipe para focar em questões mais complexas.',
        icon: 'tabler:robot',
      },
      {
        title: 'Análise de Sentimento em Tempo Real',
        description: `Monitore e analise o sentimento dos clientes em tempo real para adaptar o suporte e melhorar a satisfação do cliente.`,
        icon: 'tabler:heart-rate-monitor',
      },
      {
        title: 'Respostas Personalizadas',
        description:
          'Utilize IA para fornecer respostas personalizadas e contextualizadas, garantindo uma experiência única e relevante para cada cliente.',
        icon: 'tabler:message',
      },
      {
        title: 'Treinamento e Melhoria Contínua',
        description: `Nosso sistema de IA aprende continuamente com as interações, melhorando suas respostas e adaptando-se às novas demandas dos clientes.`,
        icon: 'tabler:chart-line',
      },
      {
        title: 'Integração com Múltiplos Canais',
        description: `Oferecemos suporte unificado por meio de diferentes canais de comunicação, garantindo uma experiência consistente para o cliente.`,
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Relatórios e Insights Avançados',
        description: `Obtenha relatórios detalhados e insights sobre o desempenho do suporte e o comportamento do cliente para tomada de decisões estratégicas.`,
        icon: 'tabler:report-analytics',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Casos de Uso"
    subtitle="Veja como nossos serviços de IA para suporte são aplicáveis a diversos setores, ajudando empresas a alcançarem o sucesso."
    isReversed
    items={[
      {
        title: 'E-commerce:',
        description:
          'Empresas de e-commerce utilizam nossos serviços de IA para fornecer suporte ao cliente ágil e personalizado, aumentando as taxas de conversão e retenção.',
      },
      {
        title: 'Tecnologia:',
        description: `Para empresas de tecnologia, nossa IA ajuda a resolver problemas técnicos complexos de maneira eficiente, melhorando a satisfação do cliente e otimizando o uso dos recursos da equipe de suporte.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'E-commerce Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Casos de Sucesso: <br /><span class="text-2xl">Transformando o Suporte ao Cliente com IA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <!-- <Pricing
    title="Planos de Preços Flexíveis"
    prices={[
      {
        title: 'Iniciante',
        subtitle: 'Acesso a funcionalidades básicas de suporte com IA',
        price: '0',
        period: '/ mês',
        callToAction: {
          target: '_blank',
          text: 'Comece Gratuitamente',
          href: '#',
        },
      },
      {
        title: 'Profissional',
        subtitle: 'Funcionalidades avançadas e personalização',
        price: 50,
        period: '/ mês',
        callToAction: {
          target: '_blank',
          text: 'Upgrade para Profissional',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'Mais Popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Soluções customizadas para grandes empresas',
        price: 150,
        period: '/ mês',
        callToAction: {
          target: '_blank',
          text: 'Desbloquear Recursos Enterprise',
          href: '#',
        },
      },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Perguntas Frequentes"
    items={[
      {
        title: 'Quais serviços de IA vocês oferecem para suporte ao cliente?',
        description:
          'Oferecemos uma ampla gama de serviços de IA para suporte ao cliente, incluindo automação de respostas, análise de sentimento em tempo real, e personalização de atendimento.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Como a IA pode melhorar a experiência do cliente?',
        description: `A IA pode melhorar a experiência do cliente oferecendo respostas rápidas e precisas, personalizando o atendimento, e fornecendo insights valiosos para a equipe de suporte.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Os serviços de IA são adequados para empresas de todos os tamanhos?',
        description:
          'Sim, nossos serviços de IA para suporte ao cliente são escaláveis e podem ser adaptados para atender às necessidades de empresas de todos os tamanhos.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Como posso começar a usar os serviços de IA para suporte ao cliente?',
        description: `Entre em contato conosco através do nosso site para agendar uma demonstração e discutir como podemos ajudar sua empresa a transformar o suporte ao cliente com IA.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Fale Conosco"
    subtitle="Tem perguntas? Entre em contato conosco usando o formulário abaixo. Estamos aqui para ajudar!"
    callToAction={{
      text: 'Contate-nos',
      href: '/',
    }}
    items={[
      {
        title: 'Envie um e-mail',
        description: 'farrulla@np-labs.org',
        icon: 'tabler:mail',
      },
      {
        title: 'Ligue para nós',
        description: '+51 (21) 97267-5855',
        icon: 'tabler:headset',
      },
      {
        title: 'Siga-nos',
        description: '@np-labs',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />
</Layout>
